.userInfo {
	--gap: 20px;

	padding: 20px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.user {
	display: flex;
	align-items: center;
	gap: var(--gap);
}

.avatar {
	--size: 50px;
}

.icons {
	display: flex;
	align-items: center;
	gap: var(--gap);

	button {
		width: 20px;
		height: 20px;
	}
}
