@import "./components/button.css";

/* Hidden */

.hidden {
	display: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Container */

.container {
	width: 90vw;
	max-height: 90vh;
	min-height: 90vh;
	background-color: var(--color-bg);
	backdrop-filter: blur(19px) saturate(180%);
	border-radius: 12px;
	border: 1px solid rgb(var(--white) / 0.125);

	display: flex;
}
